# Rayna Tours API Token (JWT)
VITE_RAYNA_API_TOKEN=eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJlYTJlOGU0ZS0zOGQ3LTRjOGMtYjc4YS03MjE4ZWQ0NmFhODIiLCJVc2VySWQiOiI1NDkyMiIsIlVzZXJUeXBlIjoiQWdlbnQiLCJQYXJlbnRJRCI6IjAiLCJFbWFpbElEIjoiYW1pcmo0ampAZ21haWwuY29tIiwiaXNzIjoiaHR0cDovL2RldnJheW5hYXBpLnJheW5hdG91cnMuY29tLyIsImF1ZCI6Imh0dHA6Ly9kZXZyYXluYWFwaS5yYXluYXRvdXJzLmNvbS8ifQ.2GIkNbQ6RO0JZkRPHpLZyUqkNivXlcI1OKSjMs76ufc
